@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../material-icons/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../material-icons/MaterialIcons-Regular.woff2) format('woff2'), url(../material-icons/MaterialIcons-Regular.woff) format('woff'), url(../material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.desactivado {
    opacity: 0.5;
}

.logo-login {
    max-width: 70%;
}

.scroll {
    overflow-y: auto;
}

.desactivado {
    opacity: 0.5;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    overflow-x: hidden;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.manita {
    cursor: pointer;
}

.center-absoluted {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 500px;
}

.capa-1 {
    background: #9b59b6;
    z-index: 300;
}

.capa-2 {
    background: #3498db;
    z-index: 200;
}

.capa-3 {
    background: #34495e;
    z-index: 100;
}

.sig {
    border: 2px solid #CCC;
    text-align: center;
    cursor: pointer;
    width: 120px;
    padding: 5px;
    margin: 10px auto;
}

.sig:hover {
    background: rgba(250, 250, 250, 0.1)
}

.capa {
    color: #FFF;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

.large-1 {
    margin: auto;
    width: 250px;
}

.centrado_vert {
    vertical-align: middle;
}

.selection .icon-le {
    display: none;
}

.active .icon-le {
    display: inherit;
}

.selection:hover .icon-le {
    display: inherit;
}

.color-blockquote {
    color: #ee6e73;
}

.ancho1 {
    width: 250px;
}

.capa .contenido {
    font-weight: lighter;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    height: 200px;
    overflow: visible;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}

.centrado {
    margin: 10px auto;
}

.margen {
    margin: 10px auto;
}

.mayuscula {
    text-transform: uppercase;
}

#nav-mobile .active {
    border-left: 5px solid #3d3d3d;
}

.shortcut-container {
    margin: 10px auto;
    text-align: center;
}

.shortcut {
    border: 2px solid #4d4d4d;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 10px;
    width: 250px;
    margin: 5px;
    font-size: 22px;
    font-weight: normal;
    min-height: 150px;
    color: #4d4d4d;
}

.shortcut.disabled {
    border: 2px solid #CCC;
    transition: none;
    color: #CCC;
}

.shortcut.disabled:hover {
    background: inherit;
    cursor: default;
    border-color: inherit;
    color: #CCC;
}

.shortcut:hover {
    background: #e0f2f1;
    border-color: #00695c;
    color: #00695c;
}

.shortcut i {
    font-size: 72px;
    display: block;
}

#PDF_FACT embed {
    height: 100vh;
    width: 100%;
}

#PDF_FACT {
    display: none;
}

.cont-secundary {
    position: absolute;
    text-align: right;
    width: 60% !important;
}

#index-banner {
    top: 0;
    position: fixed;
    z-index: 1000;
    width: 81%;
}

.main-margin {
    padding-top: 160px;
}
.content-bill embed{
    height: 70vh;
    margin: auto;
    width: 90%;
}
